<agt-header></agt-header>
<div class="container">
<h1 class="poppins">Posts</h1>
<p class="warning">{{notAdmin ? "Only Admins Can View the Comments of the Post" : ""}}</p>
<table mat-table [dataSource]="posts" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title | slice: 0:30}}... </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef> Body </th>
      <td mat-cell *matCellDef="let element"> {{element.body | slice: 0:50}}... </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="More">
      <th mat-header-cell *matHeaderCellDef> More </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="handleClick(element.id)" mat-raised-button color="primary">Comments</button>
     </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>